.page {
  background: #e8f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.car-container {
  position: relative;
  display: inline-block;
}

.page {
  background: #e8f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.car-container {
  position: relative;
  display: inline-block;
}

/* Speech bubble */
.bubble {
  position: absolute;
  top: -105px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  padding: 15px 27px;
  border-radius: 30px;
  font-size: 30px;
  color: #d40000;
  border: 2px solid #ddd;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
}

/* Bubble arrow */
.bubble::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 18px solid white;
}

.car-image {
  width: 300px;
}
